<div class="container">
  <header class="header">
    <ul class="header__nav">
      <li class="header__logo">
        <!-- <div class="header__svg">
          <img src="../images/src/films.svg" alt="films" />
        </div> -->
        <a href="" class="main__logo">Filmoteka</a>
      </li>
      <li>
        <form class="header__form">
          <input class="header__form--input" type="text" placeholder="Поиск фильмов" />
          <button type="submit" class="header__btn--submit"></button>
        </form>
      </li>
      <li>
        <ul class="header__links">
          <li class="header__link header__home"><a href="">Home</a></li>
          <li class="header__link header__library"><a href="">my library</a></li>
        </ul>
      </li>
    </ul>
  </header>

  <div class="gallery">
    <ul class="gallery__list">
      <li class="gallery__item">
        <div class="thumb"><img src="https://source.unsplash.com/400x400?mountain" alt="" /></div>
        <article class="gallery__item--info">
          <h3>Cinema name</h3>
          <p class="">Cinema info</p>
        </article>
      </li>
      <li class="gallery__item">
        <div class="thumb"><img src="https://source.unsplash.com/400x400?nature" alt="" /></div>
        <article class="gallery__item--info">
          <h3>Cinema name</h3>
          <p class="">Cinema info</p>
        </article>
      </li>
      <li class="gallery__item">
        <div class="thumb"><img src="https://source.unsplash.com/400x400?valley" alt="" /></div>
        <article class="gallery__item--info">
          <h3>Cinema name</h3>
          <p class="">Cinema info</p>
        </article>
      </li>
      <li class="gallery__item">
        <div class="thumb"><img src="https://source.unsplash.com/400x400?beach" alt="" /></div>
        <article class="gallery__item--info">
          <h3>Cinema name</h3>
          <p class="">Cinema info</p>
        </article>
      </li>
      <li class="gallery__item">
        <div class="thumb"><img src="https://source.unsplash.com/400x400?ocean" alt="" /></div>
        <article class="gallery__item--info">
          <h3>Cinema name</h3>
          <p class="">Cinema info</p>
        </article>
      </li>
      <li class="gallery__item">
        <div class="thumb"><img src="https://source.unsplash.com/400x400?water" alt="" /></div>
        <article class="gallery__item--info">
          <h3>Cinema name</h3>
          <p class="">Cinema info</p>
        </article>
      </li>
      <li class="gallery__item">
        <div class="thumb"><img src="https://source.unsplash.com/400x400?tree" alt="" /></div>
        <article class="gallery__item--info">
          <h3>Cinema name</h3>
          <p class="">Cinema info</p>
        </article>
      </li>
      <li class="gallery__item">
        <div class="thumb"><img src="https://source.unsplash.com/400x400?lake" alt="" /></div>
        <article class="gallery__item--info">
          <h3>Cinema name</h3>
          <p class="">Cinema info</p>
        </article>
      </li>
      <li class="gallery__item">
        <div class="thumb"><img src="https://source.unsplash.com/400x400?cliff" alt="" /></div>
        <article class="gallery__item--info">
          <h3>Cinema name</h3>
          <p class="">Cinema info</p>
        </article>
      </li>
    </ul>
  </div>

  <div class="light__box hidden">
    <div class="light__box--modal hidden">Модальное окно</div>
  </div>

  <div class="gallery__page--numbers">
    <p>Кнопки листалки</p>
  </div>

  <footer class="footer">
    <p class="footer__info">
      © 2021 | All Rights Reserved | Developed with
      <a class="footer__students" href="">by GoIT Students</a>
    </p>
  </footer>
</div>
